image: adoptopenjdk/openjdk11:latest

stages:
  - build
  - test
  - deploy

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script: ./gradlew :Reddit:assemble
  artifacts:
    paths:
      - Reddit/build.libs/*.jar
    expire_in: 1 week

test:
  stage: test
  script: ./gradlew :Reddit:check

deploy:
  stage: deploy
  image: ruby:latest
  artifacts:
    paths:
      - Reddit/*
  script:
    - apt-get update -yq
    - apt-get install rubygems ruby-dev -y
    - gem install dpl
    - dpl --provider=heroku --app=monoshko-crypto --api-key=$HEROKU_API_KEY

  only:
    - master
