image: adoptopenjdk/openjdk11:latest

stages:
  - build
  - test
  - deploy

before_script:
  - chmod +x ./gradlew

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script: ./gradlew :Reddit:assemble
  artifacts:
    paths:
      - Reddit/build/libs/*.jar
    expire_in: 1 week

test:
  stage: test
  script:
    - ./gradlew Reddit:check

deploy:
  stage: deploy
  image: ruby:latest
  script:
    - sudo apt-get update -yq
    - sudo apt-get install rubygems ruby-dev -y
    - sudo gem install dpl
    - sudo dpl --provider=heroku --app=monoshko-crypto --api-key=$HEROKU_API_KEY
  only:
    - master

