<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Registration form</h1>
<form th:action="@{/registration}" th:object="${userDto}" method="POST" >
    <div>
        <label>Login</label>
        <input type = "text"  th:value="${userDto.login}"/>
    </div>
    <div>
        <label>email</label>
        <input type="text" th:value="${userDto.email}"/>
    </div>
    <div>
        <label>password</label>
        <input type="text" th:value="${userDto.password}"/>
    </div>
    <div>
        <label>confirm</label>
        <input type="text" th:value="${userDto.matchingPassword}"/>
    </div>
    <button type="submit">submit</button>
</form>
</body>
</html>