<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<body>
<h1>Registration form</h1>
<form action="/" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label>Login</label>
        <input th:field="*{login}"/>
    </div>
    <div>
        <label>email</label>
        <input type="email" th:field="*{email}"/>
    </div>
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <div>
        <label>confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit">submit</button>
</form>
</body>
</html>