<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
<form th:href="@{/'application/decode' + ${operation.name().toLowerCase()}}" method='POST'>
    <select name = "algorithm">
        <option  th:each="algorithm : ${algorithms}" th:text="${algorithm.name()}"></option>
    </select><br>
    Enter text: <input name='text'><br>
    <input type='submit' value='Submit'>
</form>
</body>
</html>