body {
    background-color: black;
    color: white
}

span.spacing {
    margin-right: 10px;
}

.center {
    margin: auto;
    width: 35%;
    border: white;
    padding: 30px;
}

p {
    max-width: 300px;
    word-wrap: break-word;
}

input.custom-width {
    width: 200px;
}

input.spacing {
    margin-right: 5px;
}